<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>InterLab API</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/css/favicon.ico" th:href="@{/css/favicon.ico}"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta property="og:title" content="InterLab API" />
    <meta property="og:url" content="https://interlabapi.herokuapp.com/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/8rb/InterLab-Landing-Page/develop/img/favicon-32.png?raw=true" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="RESTful API of InterLab" />
</head>
<body>
    <div class="headerContainer">
        <h1 class="title">InterLab API</h1>
        <h1 class="subtitle">REST API of InterLab StartUp</h1>
    </div>
    <div class="container">
        <h1 class="text">Login to get an Access Token</h1>
        <a class="cta-btn" href="https://interlabapi.herokuapp.com/login" target="blank">Login</a>
    </div>
</body>
</html>
